article.page:first-child {
    float: right;
    width: calc(100% - 5rem);
    @include breakpoint($medium) {
        padding-right: calc(45% - 5rem);
    }
    @include breakpoint($large) {
        width: 75%;
        padding-right: 30%;
    }
}

.page__content {
    caption,
    figcaption,
    sup,
    .subfigures p,
    .marginnote,
    .sidenote {
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 0.3rem;
    }

    // Figures in Minimal-mistakes are flex.
    // One should either reset them to display:block (easy fix)
    // or use margin-left: auto in its child elements.
    figure {
        display: block;
    }

    // Allow caption to align to top of iframe or subfigure container
    div.subfigures:not(.fullwidth) > p:not(:last-of-type),
    div.fluid-width-video-wrapper {
        float: left;
    }

    // Properly place captions of iframe "figures"
    .iframe-wrapper:not(.fullwidth) > p:last-of-type,
    section > figure > figcaption {
        margin-right: 0;
        max-width: none;
        @include breakpoint($medium) {
            margin-right: -60%;
            max-width: 50%;
        }
    }

    // Revert to regular paragraph width
    .fullwidth p {
        width: 100%;
    }

    .subfigures figcaption {
        margin-right: 0;
        max-width: 50%;
    }

    .sidenote-number,
    .sidenote-number::after,
    .sidenote::before {
        font-family: $global-font-family !important;
        font-variant: oldstyle-nums;
        font-weight: 500;
    }

    img,
    video,
    iframe {
        border: 0.5px solid $text-color;
    }

    img.line,
    img.nobg {
        border: 0;
    }

    dd {
        font-size: 1.4rem;
    }

    ul {
        list-style-type: none;
        li {
            text-indent: -2rem;
            &::before {
                content: "— ";
            }
            p {
                text-indent: 0;
                &:first-child {
                    display: inline;
                }
            }
        }
    }

    hr {
        border: 0;
        clear: both;
        width: 100%;
        padding: 1.2rem 0;
    }

    table.total tbody tr:last-of-type td {
        border-top: 1px solid $text-color;
    }

    // Style a figure reference generated by Pandoc-crossref.
    /*
     *.figref {
     *    font-weight: bold;
     *    float: left;
     *    clear: left;
     *    margin-left: -15%;
     *    width: 10%;
     *    margin-top: 0.3rem;
     *    margin-bottom: 0;
     *    font-size: 1.1rem;
     *    line-height: 1.3;
     *    vertical-align: baseline;
     *    position: relative;
     *}
     */
}

@media (max-width: $medium) {
    .page__content {
        .column,
        div.marginnote figure {
            display: block;
            clear: both;
            width: 90% !important;
            margin-right: 10%;
        }
    }
}

/*****************************************************
 * O Moodle Aprender 3 não tem modo escuro.
 * Para adequar ao nosso esquema de cores,
 * incluir código abaixo na seção "Geral".

   <style>
     body,
     div.page,
     #region-main,
     div.content,
     h3.sectionname,
     #page .course-content ul li.section.main {
       color: #111115; background-color: $background-color;
     }
   </style>

 * O código a seguir cancela o modo escuro neste site.
 *****************************************************/

@media (prefers-color-scheme: no-preference),
       (prefers-color-scheme: light),
       (prefers-color-scheme: dark) {
  body {
    color: $text-color;
    background-color: $background-color;
    a:link {
      text-decoration: none;
      background: -webkit-linear-gradient($background-color, $background-color), -webkit-linear-gradient($background-color, $background-color), -webkit-linear-gradient(lighten($text-color, 15%), lighten($text-color, 15%));
      background: linear-gradient($background-color, $background-color), linear-gradient($background-color, $background-color), linear-gradient(lighten($text-color, 15%), lighten($text-color, 15%));
      -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
      -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
      background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
      background-repeat: no-repeat, no-repeat, repeat-x;
      text-shadow: 0.03em 0 $background-color, -0.03em 0 $background-color, 0 0.03em $background-color, 0 -0.03em $background-color, 0.06em 0 $background-color, -0.06em 0 $background-color, 0.09em 0 $background-color, -0.09em 0 $background-color, 0.12em 0 $background-color, -0.12em 0 $background-color, 0.15em 0 $background-color, -0.15em 0 $background-color;
      background-position: 0% 93%, 100% 93%, 0% 93%;
    }
    img, .line, .nobg {
      background: none;
    }
    table {
      border-top: 2px solid $text-color;
      border-bottom: 2px solid $text-color;
      td {
        border-top: 1px solid $text-color;
      }
      th {
        border-bottom: 1px solid $text-color;
      }
    }
    .line,
    .nobg {
      border: 0;
      filter: none;
      -webkit-filter: none;
    }
  }
}
// vim: set shiftwidth=4 foldmethod=indent :
