// Dark colorscheme with a softer background
// TODO: use variables and a rebase mixin instead of
//       hard-coding every color twice.
/*****************************************************
@media (prefers-color-scheme: dark) {
    html,
    body,
    .greedy-nav,
    nav.toc,
    .page__footer {
        color: $light-gray;
        background-color: $dark-gray;
    }
    .masthead {
        border-bottom-color: $dark-gray;
    }
    .initial-content,
    .archive__subtitle,
    .page__meta,
    .page__footer,
    .align-right,
    .sidenote,
    .sidenote-number,
    .marginnote,
    .subfigures p:last-of-type,
    figcaption {
        color: $light-gray;
    }
    .page__share a {
        background-color: $gray;
        color: $dark-gray;
    }
    a:hover {
        color: $lighter-gray !important;
    }
    a.pagination--pager {
        border-color: $light-gray;
        &:hover {
            background: -webkit-linear-gradient($darker-gray, $darker-gray), -webkit-linear-gradient($darker-gray, $darker-gray), -webkit-linear-gradient(currentColor, currentColor);
            background: linear-gradient($darker-gray, $darker-gray), linear-gradient($darker-gray, $darker-gray), linear-gradient(currentColor, currentColor);
            -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
            -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
            background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
            background-repeat: no-repeat, no-repeat, repeat-x;
            text-shadow: 0.03em 0 $darker-gray, -0.03em 0 $darker-gray, 0 0.03em $darker-gray, 0 -0.03em $darker-gray, 0.06em 0 $darker-gray, -0.06em 0 $darker-gray, 0.09em 0 $darker-gray, -0.09em 0 $darker-gray, 0.12em 0 $darker-gray, -0.12em 0 $darker-gray, 0.15em 0 $darker-gray, -0.15em 0 $darker-gray;
            background-color: $darker-gray;
        }
    }
    .greedy-nav,
    .page__content,
    .archive,
    .page__footer-copyright,
    .archive__item-title,
    .sidenote,
    .marginnote,
    .subfigures p:last-of-type,
    figcaption {
        a:link:not(.btn):not(.site-title) {
            background: -webkit-linear-gradient($dark-gray, $dark-gray), -webkit-linear-gradient($dark-gray, $dark-gray), -webkit-linear-gradient($light-gray, $light-gray);
            background: linear-gradient($dark-gray, $dark-gray), linear-gradient($dark-gray, $dark-gray), linear-gradient($light-gray, $light-gray);
            -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
            -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
            background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
            background-repeat: no-repeat, no-repeat, repeat-x;
            text-shadow: 0.03em 0 $dark-gray, -0.03em 0 $dark-gray, 0 0.03em $dark-gray, 0 -0.03em $dark-gray, 0.06em 0 $dark-gray, -0.06em 0 $dark-gray, 0.09em 0 $dark-gray, -0.09em 0 $dark-gray, 0.12em 0 $dark-gray, -0.12em 0 $dark-gray, 0.15em 0 $dark-gray, -0.15em 0 $dark-gray;
            background-position: 0% 93%, 100% 93%, 0% 93%;
        }
        .toc__menu a:link {
            background: none;
        }
    }
    nav.toc h4.nav__title {
        color: $light-gray;
        background-color: $dark-gray;
        border-bottom: 1px solid $light-gray;
    }
    table {
        thead {
            background-color: $dark-gray;
            border-top: 2px solid $light-gray;
            border-bottom: 1px solid $light-gray;
        }
        td {
            border-top-color: $light-gray;
        }
        th {
            border-bottom-color: $light-gray;
        }
        tbody {
            border-bottom: 2px solid $light-gray;
        }
    }
    img:not(.line):not(.nobg) {
        background-color: $background-color;
        border-color: $light-gray;
        -webkit-filter: brightness(0.8);
                filter: brightness(0.8);
    }
    .line {
        background: none;
        -webkit-filter: invert(0.83);
                filter: invert(0.83);
    }
}
 ****************************************************/
// vim: set shiftwidth=4 foldmethod=indent :
