/* Typographically correct small caps. */
.smallcaps {
    font-variant: all-small-caps;
}

.page__meta,
.page__date strong {
    font-variant: lining-nums;
  	font-weight: 500;
}

/******************
 * Header overlay *
 ******************/
.page__hero--overlay {
	  font-size: $type-size-5;
	  padding: 5rem 0;

	  h1 {
        font-weight: 300;
        margin-top: 4rem;
        margin-bottom: 1.5rem;
        font-size: 3.2rem;
        line-height: 1;
	  }

	  span.subtitle {
		    font-style: italic;
		    margin-top: 1rem;
		    margin-bottom: 1rem;
		    font-size: $type-size-6;
		    display: block;
		    line-height: 1;
		    em { font-style: normal; }
	  }

	  blockquote {
		    font-style: italic;
		    padding: 0;
	  }

	  .page__hero-caption {
		    font-size: $type-size-6;
		    font-weight: 500;
	  }

	  a.btn {
		    background: transparentize($text-color, 0.7);
        box-shadow: 2px 2px 4px 4px transparentize($text-color, 0.5) inset;
		    color: $background-color;
		    font-size: $type-size-5;
		    font-variant: all-small-caps;
		    font-weight: 500;
        letter-spacing: 0.1rem;
	}
}

.page__content {
    blockquote footer {
        font-size: $type-size-6;
        font-weight: 500;
        margin-bottom: 0.3rem;
    }

    .toc {
        font-size: $type-size-6;
        blockquote {
            padding: 0;
        }
        ul {
            li {
                font-style: italic;
                margin-left: $type-size-4;
                font-size: $type-size-5;
            }
        }
    }

    sup {
        font-weight: 500;
    }

    div.fluid-width-video-wrapper {
        float: left; // Allow caption to align to top of iframe container
    }

    img,
    video,
    iframe {
        border: 0.5px solid $text-color;
    }

    img.line,
    img.nobg {
        border: 0;
    }

    ul {
        list-style-type: none;
        li {
            text-indent: calc(0px - #{$type-size-4});
            &::before {
                content: "— ";
            }
            p {
                text-indent: 0;
                &:first-child {
                    display: inline;
                }
            }
        }
    }

    // Use hr as an invisible clear/spacing
    hr {
        border: 0;
        clear: both;
        width: 100%;
        padding: 1.2rem 0;
    }

    table.total {
        font-variant: tabular-nums oldstyle-nums;
        tbody tr:last-of-type td {
            border-top: 1px solid $text-color;
        }
    }

    /*
     * Minimal-Mistakes utility classes can pull their own weight.
     */

    // .align-left can be use to float elements side-by-side.
    @include breakpoint($medium) {
        // Right now we're hard-coding 2 elements side-by-side
        // at normal width and 3 at full-width. See if we can
        // do otherwise.
        .align-left {
            width: 100%;
            margin-bottom: 1em;
            @include breakpoint($medium) {
                width: calc(#{$right-sidebar-width-narrow} - 0.5em);
            }
        }

        div.subfigures > figure { // account for the width of letter captions
            img.align-left {
                @include breakpoint($medium) {
                    max-width: calc(#{$right-sidebar-width-narrow} - 3em);
                }
            }
            figcaption {
                padding-left: 0;
                max-width: 2em;
            }
            &:not(:last-of-type) img:not(.align-right) + figcaption {
                margin-right: 1em;
            }
        }

        // Pandoc + reveal.js multicolumn slides
        .column {
            display: block;
            clear: both;
            width: 90%;
            margin-right: 10%;
            @include breakpoint($medium) {
                clear: none;
                margin-right: 0;
                width: unset;
            }
        }
    }

    // .align-center prevents elements from taking up the width of the container
    .align-center {
        width: auto;
        min-width: 0;
        max-width: 100%;
    }

    // .align-right as equivalent to marginnote
    img.align-right {
        @include breakpoint($large) {
            padding-left: 0;
            margin: 0 calc(0px - #{$right-sidebar-width-narrow}) 0 1em;
            max-width: calc(#{$right-sidebar-width-narrow} - 1em);
        }
        @include breakpoint($x-large) {
            max-width: calc(#{$right-sidebar-width} - 1em);
            margin-right: calc(0px - #{$right-sidebar-width});
        }
    }

    // Turn marginnotes on narrow screens into a lighbox
    .margin-toggle:checked + span.sidenote,
    .margin-toggle:checked + span.marginnote {
        @extend .notice;
        position: absolute;
        height: auto;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        box-shadow: 4px 4px 8px 8px transparentize($text-color, 0.7);
    }
}

// A class to get outset dates in a résumé or CV
.cv dt {
    font-variant: tabular-nums oldstyle-nums all-small-caps;
    font-weight: 400;
    margin-left: -8rem;
}

/*************************
 * Multilingual websites *
 *************************/
p.signoff,
#main-nav,
#lang-select {
    a:link {
        background: none;
        text-shadow: none;
        &::after {
            content: "  ";
        }
    }
}

#lang-select {
    float: right;
    font-weight: 500;
    margin-right: 45%;
    margin-top: 0.5rem;
    margin-top: 1rem;
}

// Add languages as needed.
.en:lang(en),
.fr:lang(fr),
.pt:lang(pt) {
    color: $muted-text-color;
}

/*******************************************
 * Masthead, site title and navigation links
 *******************************************/
a.site-title,
ul.visible-links a {
      background: none !important;
}

a.site-title {
    font-size: $h-size-3;
    font-variant: all-small-caps;
    .site-subtitle {
        font-size: $h-size-6;
        font-variant: normal oldstyle-nums;
    }
}

// Smaller Masthead links
ul.visible-links {
    font-size: $h-size-6;
}

// Minimal-Mistakes page footer
.page__footer-follow,
ul.social-icons {
    a:link {
        border: 0;
        background: none;
        text-shadow: none;
    }
}
.page__footer-follow,
.page__footer-copyright {
    a:hover {
        color: inherit;
    }
}

/****************************
 * Header overlay gradients *
 ****************************/
.page__hero--overlay {
	  &,
	  & .page__title,
	  & .page__meta,
	  & a {
	    	color: $background-color;
	    	text-shadow: 0.03em 0 4px rgba($text-color, 0.2), -0.03em 0 4px rgba($text-color, 0.2), 0 0.03em 4px rgba($text-color, 0.2), 0 -0.03em 4px rgba($text-color, 0.2), 0.06em 0 6px rgba($text-color, 0.2), -0.06em 0 6px rgba($text-color, 0.2), 0.09em 0 4px rgba($text-color, 0.2), -0.09em 0 4px rgba($text-color, 0.2), 0.12em 0 9px rgba($text-color, 0.2), -0.12em 0 9px rgba($text-color, 0.2), 0.15em 0 12px rgba($text-color, 0.2), -0.15em 0 12px rgba($text-color, 0.2);
	  }

	  a.btn,
	  blockquote,
	  blockquote a,
	  .page__hero-caption a {
	  	  text-shadow: 0.03em 0 1px rgba($text-color, 0.5), -0.03em 0 1px rgba($text-color, 0.5), 0 0.03em 1px rgba($text-color, 0.5), 0 -0.03em 1px rgba($text-color, 0.5), 0.06em 0 2px rgba($text-color, 0.3), -0.06em 0 2px rgba($text-color, 0.3), 0.09em 0 3px rgba($text-color, 0.3), -0.09em 0 3px rgba($text-color, 0.3), 0.12em 0 4px rgba($text-color, 0.3), -0.12em 0 4px rgba($text-color, 0.3), 0.15em 0 5px rgba($text-color, 0.3), -0.15em 0 5px rgba($text-color, 0.3);
	  }

	  blockquote a,
	  .page__hero-caption a {
        background: -webkit-linear-gradient($text-color, $text-color), -webkit-linear-gradient($text-color, $text-color), -webkit-linear-gradient($lighter-gray, $lighter-gray);
        background: linear-gradient($text-color, $text-color), linear-gradient($text-color, $text-color), linear-gradient($lighter-gray, $lighter-gray);
        -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
        -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
        background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
        background-repeat: no-repeat, no-repeat, repeat-x;
        background-position: 0% 93%, 100% 93%, 0% 93%; 
	  }
}

// Resets minimal-mistakes/_base.scss
ul li,
ol li {
    margin-bottom: 0;
}

blockquote {
    border: none;
    font-style: normal;
}

// Fix link underlines
a:hover {
    text-decoration: none !important;
}

a.pagination--pager {
    @extend .tufte-underline;
    border: none;
    font-weight: 500;
    text-shadow: none;
    &:hover {
        @extend .hover-tufte-underline;
        color: $text-color;
        background: $background-color;
    }
}

.page__footer-copyright {
    font-size: $type-size-6;
}
// vim: set shiftwidth=4 foldmethod=indent :
