article.page:first-child {
    float: right;
    width: calc(100% - 2rem);
    @include breakpoint($medium) {
        padding-right: calc(45% - 5rem);
    }
    @include breakpoint($large) {
        width: 75%;
        padding-right: 30%;
    }
}

/* Typographically correct small caps. */
.smallcaps {
    font-variant: all-small-caps;
}

.page__content {
    caption,
    blockquote footer {
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 0.3rem;
    }

    sup {
        font-weight: 500;
    }

    div.fluid-width-video-wrapper {
        float: left; // Allow caption to align to top of iframe container
    }

    img,
    video,
    iframe {
        border: 0.5px solid $text-color;
    }

    img.line,
    img.nobg {
        border: 0;
    }

    ul {
        list-style-type: none;
        li {
	    text-indent: -2rem;
            &::before {
                content: "— ";
            }
            p {
                text-indent: 0;
                &:first-child {
                    display: inline;
                }
            }
        }
    }

    // Use hr as an invisible clear/spacing
    hr {
        border: 0;
        clear: both;
        width: 100%;
        padding: 1.2rem 0;
    }

    table.total {
        font-variant: tabular-nums oldstyle-nums;
        tbody tr:last-of-type td {
            border-top: 1px solid $text-color;
        }
    }

    /*
     * Minimal-Mistakes utility classes can pull their own weight.
     */

    // .align-left can be use to float elements side-by-side.
    @include breakpoint($medium) {
        // Right now we're hard-coding 2 elements side-by-side
        // at normal width and 3 at full-width. See if we can
        // do otherwise.
        .align-left {
            max-width: 50%;
        }
        .full .align-left {
            max-width: 33%;
        }

        div.subfigures { // account for the width of letter captions
            img.align-left {
                max-width: calc(50% - 3rem);
            }
            &.full img.align-left {
                max-width: calc(33% - 3rem);
            }
        }

        // Pandoc + reveal.js multicolumn slides
        .column {
            display: block;
            clear: both;
            width: 90%;
            margin-right: 10%;
            @include breakpoint($medium) {
                clear: none;
                margin-right: 0;
                width: unset;
            }
        }
    }

    // .align-center prevents elements from taking up the width of the container
    .align-center {
        width: auto;
        min-width: 0;
        max-width: 100%;
    }

    // .align-right as equivalent to marginnote
    .align-right {
        text-align: left;
        font-weight: 500;
        @include breakpoint($medium) {
            margin-right: -60%;
            max-width: 50%;
            width: 50%;
            clear: right;
        }
    }

    // Turn marginnotes on narrow screens into a lighbox
    .margin-toggle:checked + span.sidenote,
    .margin-toggle:checked + span.marginnote {
        @extend .notice;
        position: absolute;
        height: auto;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        box-shadow: 4px 4px 8px 8px transparentize($text-color, 0.7);
    }

    section > h3,
    .sidebar {
        max-width: 100%;
        blockquote {
            margin: 0;
            padding: 0;
            font-style: italic;
            ul {
                list-style-type: none;
                li {
                    display: inline;
                    text-indent: 0;
                    &:first-child::before {
                        content: "";
                    }
                }
            }
        }
        @include breakpoint($large) {
            clear: left;
            float: left;
            margin-top: 0;
            margin-left: -50%;
            max-width: 45%;
            width: 45%;
            font-size: $type-size-4;
            line-height: 2rem;
        }
    }
}

/*****************************************************
 * O Moodle Aprender 3 não tem modo escuro.
 * Para adequar ao nosso esquema de cores,
 * incluir código abaixo na seção "Geral".

   <style>
     body,
     div.page,
     #region-main,
     div.content,
     h3.sectionname,
     #page .course-content ul li.section.main {
       color: #111115; background-color: $background-color;
     }
   </style>

 * O código a seguir cancela o modo escuro neste site.
 *****************************************************/

@media (prefers-color-scheme: no-preference),
       (prefers-color-scheme: light),
       (prefers-color-scheme: dark) {
  body {
    color: $text-color;
    background-color: $background-color;
    a:link {
      text-decoration: none;
      background: -webkit-linear-gradient($background-color, $background-color), -webkit-linear-gradient($background-color, $background-color), -webkit-linear-gradient(lighten($text-color, 15%), lighten($text-color, 15%));
      background: linear-gradient($background-color, $background-color), linear-gradient($background-color, $background-color), linear-gradient(lighten($text-color, 15%), lighten($text-color, 15%));
      -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
      -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
      background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
      background-repeat: no-repeat, no-repeat, repeat-x;
      text-shadow: 0.03em 0 $background-color, -0.03em 0 $background-color, 0 0.03em $background-color, 0 -0.03em $background-color, 0.06em 0 $background-color, -0.06em 0 $background-color, 0.09em 0 $background-color, -0.09em 0 $background-color, 0.12em 0 $background-color, -0.12em 0 $background-color, 0.15em 0 $background-color, -0.15em 0 $background-color;
      background-position: 0% 93%, 100% 93%, 0% 93%;
    }
    img, .line, .nobg {
      background: none;
    }
    table {
      border-top: 2px solid $text-color;
      border-bottom: 2px solid $text-color;
      td {
        border-top: 1px solid $text-color;
      }
      th {
        border-bottom: 1px solid $text-color;
      }
    }
    .line,
    .nobg {
      border: 0;
      filter: none;
      -webkit-filter: none;
    }
  }
}
// vim: set shiftwidth=4 foldmethod=indent :
