/* Typographically correct small caps. */
.smallcaps {
    font-variant: all-small-caps;
}

sup {
    font-weight: 500;
}

div.fluid-width-video-wrapper {
    float: left; // Allow caption to align to top of iframe container
}

img,
video,
iframe {
    border: 0.5px solid $text-color;
}

img.line,
img.nobg {
    border: 0;
}

// Good alignment of li > dl
li > dl > dt:first-child {
    margin-top: 0;
}

// Use hr as an invisible clear/spacing
hr {
    border: 0;
    clear: both;
    width: 100%;
    padding: 1.2rem 0;
}

table.total {
    font-variant: tabular-nums oldstyle-nums;
    tbody tr:last-of-type td {
        border-top: 1px solid $text-color;
    }
}

/***************************
 * Minimal-Mistakes resets *
 ***************************/
ul li,
ol li {
    margin-bottom: 0;
}

blockquote {
    border: none;
    font-style: normal;
}

a:hover {
    text-decoration: none !important;
}

/*******************************************
 * Masthead, site title and navigation links
 *******************************************/
.masthead__inner-wrap {
    font-family: $header-font-family;
}

a.site-title,
ul.visible-links a {
      background: none !important;
}

a.site-title {
    font-size: $h-size-3;
    font-variant: all-small-caps;
    font-weight: $header-font-weight;
    .site-subtitle {
        font-size: $h-size-6;
        font-style: italic;
        font-variant: normal oldstyle-nums;
    }
}

// Smaller Masthead links
ul.visible-links {
    font-size: $h-size-6;
}

/*******************
 * Header and meta *
 *******************/
.page__hero--overlay {
	  &,
	  .page__title,
	  .page__meta,
    a:link:not(.btn) {
	    	color: $background-color;
	    	text-shadow: 0.03em 0 4px rgba($text-color, 0.2), -0.03em 0 4px rgba($text-color, 0.2), 0 0.03em 4px rgba($text-color, 0.2), 0 -0.03em 4px rgba($text-color, 0.2), 0.06em 0 6px rgba($text-color, 0.2), -0.06em 0 6px rgba($text-color, 0.2), 0.09em 0 4px rgba($text-color, 0.2), -0.09em 0 4px rgba($text-color, 0.2), 0.12em 0 9px rgba($text-color, 0.2), -0.12em 0 9px rgba($text-color, 0.2), 0.15em 0 12px rgba($text-color, 0.2), -0.15em 0 12px rgba($text-color, 0.2);
	  }

    a:link:not(.btn) {
        background: -webkit-linear-gradient($dark-gray, $dark-gray), -webkit-linear-gradient($dark-gray, $dark-gray), -webkit-linear-gradient($light-gray, $light-gray);
        background: linear-gradient($dark-gray, $dark-gray), linear-gradient($dark-gray, $dark-gray), linear-gradient($light-gray, $light-gray);
        -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
        -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
        background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
        background-repeat: no-repeat, no-repeat, repeat-x;
        background-position: 0% 93%, 100% 93%, 0% 93%;
    }

    .subtitle {
        font-size: $type-size-7;
    }

	  h1 {
        font-weight: $header-font-weight;
	  }

    .page__lead,
	  span.subtitle {
		    font-style: italic;
		    em {
            font-style: normal;
        }
	  }

	  blockquote {
		    font-style: italic;
		    padding: 0;
	  }

	  .page__hero-caption {
		    font-weight: $meta-font-weight;
	  }

	  blockquote a,
	  .page__hero-caption a {
	  	  text-shadow: 0.03em 0 1px rgba($text-color, 0.5), -0.03em 0 1px rgba($text-color, 0.5), 0 0.03em 1px rgba($text-color, 0.5), 0 -0.03em 1px rgba($text-color, 0.5), 0.06em 0 2px rgba($text-color, 0.3), -0.06em 0 2px rgba($text-color, 0.3), 0.09em 0 3px rgba($text-color, 0.3), -0.09em 0 3px rgba($text-color, 0.3), 0.12em 0 4px rgba($text-color, 0.3), -0.12em 0 4px rgba($text-color, 0.3), 0.15em 0 5px rgba($text-color, 0.3), -0.15em 0 5px rgba($text-color, 0.3);
        background: -webkit-linear-gradient($text-color, $text-color), -webkit-linear-gradient($text-color, $text-color), -webkit-linear-gradient($lighter-gray, $lighter-gray);
        background: linear-gradient($text-color, $text-color), linear-gradient($text-color, $text-color), linear-gradient($lighter-gray, $lighter-gray);
        -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
        -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
        background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
        background-repeat: no-repeat, no-repeat, repeat-x;
        background-position: 0% 93%, 100% 93%, 0% 93%; 
	  }
}

.page__meta,
.page__date time,
.page__date strong {
    font-family: $sans-serif;
    font-variant: lining-nums;
  	font-weight: $meta-font-weight;
}

.page__meta-readtime {
    font-size: $type-size-6;
    font-weight: $meta-font-weight;
}

.archive__item .page__meta {
    display: none;
}

/***********
 * Sidebar *
 ***********/
.initial-content ul:not(.toc__menu) {
    list-style-type: none;
    &:not(.nav__items) li {
        text-indent: calc(0px - #{$type-size-4});
        &::before {
            content: "— ";
        }
        p {
            text-indent: 0;
            &:first-child {
                display: inline;
            }
        }
    }
}

.sidebar p,
ul.nav__items li .nav__sub-title {
    font-family: $global-font-family;
    font-weight: $meta-font-weight;
}

blockquote footer {
    font-size: $type-size-6;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.toc {
    font-size: $type-size-6;
    color: $text-color;
    blockquote {
        padding: 0;
    }
    ul {
        li {
            font-size: $type-size-5;
            font-style: italic;
            margin-left: $type-size-4;
            a {
                font-weight: $meta-font-weight;
            }
        }
    }
}

/*******************
 * Utility classes *
 *******************/
// .align-left can be use to float elements side-by-side.
@include breakpoint($medium) {
    // Right now we're hard-coding 2 elements side-by-side
    // at normal width and 3 at full-width. See if we can
    // do otherwise.
    .align-left {
        width: 100%;
        margin-bottom: 1em;
        @include breakpoint($medium) {
            width: calc(#{$right-sidebar-width-narrow} - 0.5em);
        }
    }

    div.subfigures > figure { // account for the width of letter captions
        img.align-left {
            @include breakpoint($medium) {
                max-width: calc(#{$right-sidebar-width-narrow} - 3em);
            }
        }
        figcaption {
            padding-left: 0;
            max-width: 2em;
        }
        &:not(:last-of-type) img:not(.align-right) + figcaption {
            margin-right: 1em;
        }
    }

    // Pandoc + reveal.js multicolumn slides
    .column {
        display: block;
        clear: both;
        width: 90%;
        margin-right: 10%;
        @include breakpoint($medium) {
            clear: none;
            margin-right: 0;
            width: unset;
        }
    }
}

// .align-center prevents elements from taking up the width of the container
.align-center {
    width: auto;
    min-width: 0;
    max-width: 100%;
}

// .align-right as equivalent to marginnote
img.align-right {
    @include breakpoint($large) {
        padding-left: 0;
        margin: 0 calc(0px - #{$right-sidebar-width-narrow}) 0 1em;
        max-width: calc(#{$right-sidebar-width-narrow} - 1em);
    }
    @include breakpoint($x-large) {
        max-width: calc(#{$right-sidebar-width} - 1em);
        margin-right: calc(0px - #{$right-sidebar-width});
    }
}

.wide img.align-right {
    margin-right: 0;
}

// Turn marginnotes on narrow screens into a lighbox
.margin-toggle:checked + span.sidenote,
.margin-toggle:checked + span.marginnote {
    @extend .notice;
    position: absolute;
    height: auto;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    box-shadow: 4px 4px 8px 8px transparentize($text-color, 0.7);
}

// A class to get outset dates in a résumé or CV
.cv {
    dt {
        font-variant: tabular-nums oldstyle-nums all-small-caps;
        font-weight: 400;
        margin-left: -6rem;
        margin-top: 0;
    }
    dd {
        margin-left: 0;
    }
}

/*************************
 * Multilingual websites *
 *************************/
#lang-select {
    a:link {
        background: none;
        text-shadow: none;
        &::after {
            content: "  ";
        }
    }
    float: right;
    font-weight: $meta-font-weight;
    margin-right: 45%;
    margin-top: 0.5rem;
    margin-top: 1rem;
}

// Add languages as needed.
.en:lang(en),
.fr:lang(fr),
.pt:lang(pt) {
    color: $muted-text-color;
}

/************
 * Features *
 ************/
a.btn {
    font-weight: 400;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

a.btn--primary,
a.btn--success,
a.btn--warning,
a.btn--danger,
a.btn--info {
    color: $background-color;
}

/**********************
 * Archives and grids *
 **********************/
div.feature__wrapper,
.page__share,
.page__related {
    border: none;
}

h3.archive__subtitle {
    font-size: $h-size-2;
}

div.archive,
div.feature__wrapper {
    h2.archive__item-title {
        @extend h5;
        float: none;
        a:link {
            background: none;
        }
    }
    .archive__item-excerpt {
        font-weight: 500;
    }
}

.archive__subtitle {
    margin-top: 5rem;
    border-bottom: 0;
}

.archive__item {
    padding: 0;
    h2 {
        font-family: $garamond;
    }
}

.page__share a:link {
    color: $lighter-gray;
}

.page__share + .pagination {
    border-top: 0;
}

a.pagination--pager {
    border-color: $text-color;
    font-weight: $meta-font-weight;
    &:hover {
        background: -webkit-linear-gradient($dark-gray, $dark-gray), -webkit-linear-gradient($dark-gray, $dark-gray), -webkit-linear-gradient($light-gray, $light-gray);
        background: linear-gradient($dark-gray, $dark-gray), linear-gradient($dark-gray, $dark-gray), linear-gradient($light-gray, $light-gray);
        -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
        -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
        background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
        background-repeat: no-repeat, no-repeat, repeat-x;
        text-shadow: 0.03em 0 $dark-gray, -0.03em 0 $dark-gray, 0 0.03em $dark-gray, 0 -0.03em $dark-gray, 0.06em 0 $dark-gray, -0.06em 0 $dark-gray, 0.09em 0 $dark-gray, -0.09em 0 $dark-gray, 0.12em 0 $dark-gray, -0.12em 0 $dark-gray, 0.15em 0 $dark-gray, -0.15em 0 $dark-gray;
        background-position: 0% 93%, 100% 93%, 0% 93%;
        background-color: $dark-gray;
    }
}

p.page__taxonomy strong {
    font-family: $sans-serif;
    font-weight: $meta-font-weight;
}

// Minimal-Mistakes page footer
.page__footer {
    background-color: $footer-background-color;
}

.page__footer-follow li,
ul.social-icons {
    font-family: $sans-serif;
    a:link {
        border: 0;
        background: none;
        text-shadow: none;
    }
}

.page__footer-follow li strong,
.page__footer-follow li a,
.page__footer-copyright {
    font-weight: $meta-font-weight;
    a:hover {
        color: inherit;
    }
}

.page__footer-copyright {
    font-family: $global-font-family;
    font-size: $type-size-6;
}

// Dark colorscheme with a softer background
// TODO: use variables and a rebase mixin instead of
//       hard-coding every color twice.
@media (prefers-color-scheme: dark) {
    html,
    body,
    .greedy-nav,
    .toc,
    .page__footer {
        color: $light-gray;
        background-color: $dark-gray;
    }
    .masthead {
        border-bottom-color: $dark-gray;
    }
    .initial-content,
    .archive__subtitle,
    .page__meta,
    .page__footer,
    .align-right,
    .sidenote,
    .sidenote-number,
    .marginnote,
    .subfigures p:last-of-type,
    figcaption {
        color: $light-gray;
    }
    .page__share a {
        background-color: $gray;
        color: $dark-gray;
    }
    a:hover {
        color: $lighter-gray !important;
    }
    a.pagination--pager {
        border-color: $light-gray;
        &:hover {
            background: -webkit-linear-gradient($darker-gray, $darker-gray), -webkit-linear-gradient($darker-gray, $darker-gray), -webkit-linear-gradient(currentColor, currentColor);
            background: linear-gradient($darker-gray, $darker-gray), linear-gradient($darker-gray, $darker-gray), linear-gradient(currentColor, currentColor);
            -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
            -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
            background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
            background-repeat: no-repeat, no-repeat, repeat-x;
            text-shadow: 0.03em 0 $darker-gray, -0.03em 0 $darker-gray, 0 0.03em $darker-gray, 0 -0.03em $darker-gray, 0.06em 0 $darker-gray, -0.06em 0 $darker-gray, 0.09em 0 $darker-gray, -0.09em 0 $darker-gray, 0.12em 0 $darker-gray, -0.12em 0 $darker-gray, 0.15em 0 $darker-gray, -0.15em 0 $darker-gray;
            background-color: $darker-gray;
        }
    }
    .greedy-nav,
    .page__content,
    .archive,
    .page__footer-copyright,
    .archive__item-title,
    .sidenote,
    .marginnote,
    .subfigures p:last-of-type,
    figcaption {
        a:link:not(.btn) {
            background: -webkit-linear-gradient($dark-gray, $dark-gray), -webkit-linear-gradient($dark-gray, $dark-gray), -webkit-linear-gradient($light-gray, $light-gray);
            background: linear-gradient($dark-gray, $dark-gray), linear-gradient($dark-gray, $dark-gray), linear-gradient($light-gray, $light-gray);
            -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
            -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
            background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
            background-repeat: no-repeat, no-repeat, repeat-x;
            text-shadow: 0.03em 0 $dark-gray, -0.03em 0 $dark-gray, 0 0.03em $dark-gray, 0 -0.03em $dark-gray, 0.06em 0 $dark-gray, -0.06em 0 $dark-gray, 0.09em 0 $dark-gray, -0.09em 0 $dark-gray, 0.12em 0 $dark-gray, -0.12em 0 $dark-gray, 0.15em 0 $dark-gray, -0.15em 0 $dark-gray;
            background-position: 0% 93%, 100% 93%, 0% 93%;
        }
    }
    table {
        border-top-color: $light-gray;
        border-bottom-color: $light-gray;
        td {
            border-top-color: $light-gray;
        }
        th {
            border-bottom-color: $light-gray;
        }
    }
    img:not(.line) {
        background-color: $background-color;
        border-color: $light-gray;
        -webkit-filter: brightness(0.8);
                filter: brightness(0.8);
    }
    .line {
        background: none;
        -webkit-filter: invert(0.83);
                filter: invert(0.83);
    }
}
// vim: set shiftwidth=4 foldmethod=indent :
