
/* For smart quotes */
q { quotes: "“" "”" "‘" "’"; }

/* Simulate Pandoc's table output styles */
table {
  border: 0;
  border-collapse: collapse;
  font-size: $type-size-5;
  caption {
    float: none;
  }
  thead,
  th {
    border-top: 2px solid $text-color;
    border-bottom: 1px solid $text-color;
  }
  td, th {
    border: 0;
    font-size: $type-size-5;
    font-variant: tabular-nums oldstyle-nums;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    p,
    li {
      line-height: 1;
      font-variant: proportional-nums oldstyle-nums;
    }
    & > ul:first-child,
    & > p:first-child {
        margin-top: 0;
      }
  }
  tbody {
    border-bottom: 2px solid $text-color;
  }
}

/* Allow tables to be full width
 * if they're wrapped in a figure.fullwidth
 * (Easier to insert from Pandoc than manually adding table) */
.full table {
  width: 100%;
  @include breakpoint($large) {
      width: 90%;
  }
}

/* Code blocks
 *
 * Code blocks with a language look like div.sourceCode > pre.sourceCode
 * Otherwise, it's just a pre (without .sourceCode) */

/* Unset the tufte-css defaults that we'd like to overwrite */
pre > code {
  margin-left: initial;
  overflow-x: initial;
  display: initial;
}

.sourceCode.numberLines a:link {
  text-decoration: initial;
  background: initial;
  text-shadow: initial;
}

// Line blocks (e.g. for poetry)
.line-block {
  font-size: $type-size-5;
  line-height: 2;
}

/* Math formatting */
.katex {
  font-size: inherit !important;
}

/* Wrap long URLs in references */
#refs a {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

// vim: set shiftwidth=2 foldmethod=indent :
