@charset "UTF-8";

/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

/* Tufte CSS styles */
html {
    font-size: $doc-font-size;
}

body {
    font-family: $global-font-family;
    font-variant: oldstyle-nums proportional-nums;
    counter-reset: sidenote-counter;
    line-height: 1;
}

.page__inner-wrap {
    h1 {
        font-weight: $header-font-weight;
        margin-top: 4rem;
        margin-bottom: 1.5rem;
        line-height: 1;
    }

    p.subtitle {
        font-style: italic;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: block;
        line-height: 1;
        em { font-style: normal; }
    }
}

h2 {
    clear: both;
    font-style: $header-font-style;
    font-weight: $header-font-weight;
    margin-top: 2.1rem;
    margin-bottom: $type-size-5;
    line-height: 1;
    em { font-style: normal; }
}

h3 {
    font-style: $header-font-style;
    font-weight: 400;
    margin-top: $type-size-4;
    margin-bottom: $type-size-5;
    line-height: 1.3;
    em { font-style: normal; }
}

.page__content h3 {
    @include breakpoint($large) {
        float: left;
        margin-top: 0;
        margin-left: calc(0px - #{$right-sidebar-width-narrow});
        width: calc(#{$right-sidebar-width-narrow} - 1em);
        font-size: $type-size-5;
    }
    @include breakpoint($x-large) {
        margin-left: calc(0px - #{$right-sidebar-width});
        width: calc(#{$right-sidebar-width} - 1em);
    }
}

h4 {
    font-family: $sans-serif;
    font-variant: all-small-caps;
    font-weight: $meta-font-weight;
    letter-spacing: 0.05rem;
    &.page__related-title,
    &.page__share-title {
        font-size: $h-size-5;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: $type-size-6 0;
    padding: 0;
}

.numeral {
    font-family: $serif;
    font-variant: oldstyle-nums;
}

.danger {
    color: red;
}

article {
    padding: 5rem 0 0 0;
}

section {
    padding-top: $type-size-6;
    padding-bottom: $type-size-6;
}

.initial-content,
.page__content {
    h5,
    h6,
    p,
    dl,
    dt,
    dd,
    ol,
    ul {
        font-family: $global-font-family;
        font-size: $type-size-5;
        line-height: 1.3;
    }
}

p {
    padding-right: 0;
    vertical-align: baseline;
}

/* Chapter Epigraphs */
div.epigraph {
    margin: 5em 0;
}

.epigraph > blockquote {
    margin-top: 3em;
    margin-bottom: 3em;
}

.epigraph > blockquote,
.epigraph > blockquote > p {
    font-style: italic;
    em { font-style: normal; }
}

.epigraph > blockquote > footer {
    font-style: normal;
}

.epigraph > blockquote > footer > cite {
    font-style: italic;
}
/* end chapter epigraphs styles */

blockquote {
    font-size: $type-size-5;
}

blockquote footer {
    font-size: $type-size-6;
    text-align: right;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
    -webkit-padding-start: 5%;
    @include breakpoint($large) {
        padding-left: 0;
    }
}

dt:not(:first-child),
li:not(:first-child) {
    margin-top: 0.25rem;
}

figure {
    // Figures in Minimal-mistakes are flex.
    // One should either reset them to display:block (easy fix)
    // or use margin-left: auto in its child elements.
    display: block;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

/******************************************************
 * CSL styling taken from Tufte-CSS, not yet
   implemented in Jekyll-Pandoc-Tufte.
 */
div.csl-bib-body {
    font-size: $type-size-5;
    line-height: 1.3;
}

div.csl-entry {
    clear: both;
    margin-top: .5rem;
}

.hanging div.csl-entry {
    margin-left: $type-size-4;
    text-indent: -2rem;
}

div.csl-left-margin {
    min-width: $type-size-4;
    float: left;
}

div.csl-right-inline {
    margin-left: $type-size-4;
    padding-left: 1rem;
}

div.csl-indent {
    margin-left: $type-size-4;
}

div.hanging-indent{
    margin-left: 1.5rem;
    text-indent: -1.5rem;
}

/* Sidenotes, margin notes, figures, captions */
video,
iframe,
img {
    max-width: 100%;
}

span.sidenote,
span.marginnote {
    display: none;
    @include breakpoint($large) {
        display: block;
    }
}

figcaption,
.subfigures p:last-of-type,
.align-right,
.sidenote,
.marginnote {
    color: $text-color;
    font-size: $type-size-6;
    font-weight: 500;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
    text-align: left;
    @include breakpoint($large) {
        float: right;
        clear: right;
        width: $right-sidebar-width-narrow;
        margin: 0.3rem calc(0px - #{$right-sidebar-width-narrow}) 0 0;
        padding-left: 1em;
    }
    @include breakpoint($x-large) {
        width: $right-sidebar-width;
        margin-right: calc(0px - #{$right-sidebar-width});
    }
}

.margin-toggle:checked + .sidenote,
.margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
}

.sidenote-number,
.sidenote-number:after,
.sidenote:before {
    counter-increment: sidenote-counter;
    font-family: $global-font-family;
    font-variant: oldstyle-nums;
    font-weight: 500;
}

.sidenote-number:after,
.sidenote:before {
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: $type-size-6;
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: $type-size-5;
    top: -0.5rem;
}

label {
    cursor: pointer;
}

blockquote .sidenote,
blockquote .marginnote {
    text-align: left;
    @include breakpoint($large) {
        margin-right: calc(0px - #{$right-sidebar-width-narrow} - 2rem);
    }
    @include breakpoint($x-large) {
        margin-right: calc(0px - #{$right-sidebar-width} - 2rem);
    }
}

div.table-wrapper {
    overflow-x: auto;
    font-family: $sans-serif-narrow;
}

.sans {
    font-family: $sans-serif;
    letter-spacing: .03em;
}

code, pre > code {
    font-family: $monospace;
    font-size: $type-size-7;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
    font-size: $type-size-6;
}

h1 > code,
h2 > code,
h3 > code {
    font-size: $type-size-7;
}

.marginnote > code,
.sidenote > code {
    font-size: $type-size-6;
}

pre > code {
    font-size: $type-size-7;
    margin-left: 2.5%;
    overflow-x: auto;
    display: block;
}

.full,
.fullwidth {
    @include breakpoint($large) {
        display: block; // Prevent float overlap
        margin-right: calc(0px - #{$right-sidebar-width-narrow}) !important;
        clear:both;
    }
    @include breakpoint($x-large) {
        margin-right: calc(0px - #{$right-sidebar-width}) !important;
    }
}

video.full,
img.full {
    @include breakpoint($large) {
        max-width: calc(100% + #{$right-sidebar-width-narrow});
        width: calc(100% + #{$right-sidebar-width-narrow});
    }
    @include breakpoint($x-large) {
        max-width: calc(100% + #{$right-sidebar-width});
        width: calc(100% + #{$right-sidebar-width});
    }
}

span.newthought {
    font-variant: small-caps;
    font-size: $type-size-5;
    .smallcaps {
      text-transform: uppercase;
    }
}

input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline;
}

label.margin-toggle:not(.sidenote-number) {
    display: inline;
    @include breakpoint($large) {
        display: none;
    }
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Use reduced widths only on .wide pages
.wide .page__content {
    hr,
    section > p,
    section > footer,
    section > table {
        width: 100%;
    }

    pre > code {
        width: 97%;
    }

    div.csl-bib-body,
    section > dl,
    section > ol,
    section > ul {
        width: 90%;
    }

    figure {
        max-width: 90%;
    }

    figcaption,
    div.fullwidth figcaption,
    figure.fullwidth figcaption {
        margin-right: 0%;
        max-width: none;
    }

    blockquote {
        margin-left: 1.5em;
        margin-right: 0em;
    }

    blockquote p,
    blockquote footer {
        width: 100%;
    }
    div.table-wrapper,
    table {
        width: 85%;
    }

    @include breakpoint($medium) {
        hr,
        section > p,
        section > footer,
        section > table,
        section > div > table,
        blockquote p,
        blockquote footer,
        div.csl-bib-body {
            width: 55%;
        }
        section > dl,
        section > ol,
        section > ul {
            width: 50%;
        }
        figure {
            max-width: 55%;
        }
        div.fullwidth,
        table.fullwidth {
            width: 100%;
        }
        pre > code {
            width: 52.5%;
        }
        pre.fullwidth > code {
            width: 90%;
        }
        .fullwidth {
            max-width: 90%;
        }
    }
}

/* Links: replicate underline that clears descenders */
a:link,
a:visited {
    color: inherit;
}
.page__content a:hover,
a:hover {
    color: $gray;
}

.no-tufte-underline:link {
    background: unset;
    text-shadow: unset;
}

.page__hero--overlay a:link:not(.btn),
.page__content a:link:not(.btn),
.archive a:link:not(.btn),
.page__related a:link:not(.btn),
.page__footer-copyright a:link:not(.btn),
.tufte-underline,
.hover-tufte-underline:hover {
    text-decoration: none;
    background: -webkit-linear-gradient($background-color, $background-color), -webkit-linear-gradient($background-color, $background-color), -webkit-linear-gradient(currentColor, currentColor);
    background: linear-gradient($background-color, $background-color), linear-gradient($background-color, $background-color), linear-gradient(currentColor, currentColor);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 $background-color, -0.03em 0 $background-color, 0 0.03em $background-color, 0 -0.03em $background-color, 0.06em 0 $background-color, -0.06em 0 $background-color, 0.09em 0 $background-color, -0.09em 0 $background-color, 0.12em 0 $background-color, -0.12em 0 $background-color, 0.15em 0 $background-color, -0.15em 0 $background-color;
    background-position: 0% 93%, 100% 93%, 0% 93%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .page__content a:link:not(.btn),
    .archive a:link:not(.btn),
    .tufte-underline,
    .hover-tufte-underline:hover {
        background-position-y: 87%, 87%, 87%;
    }
}

a:link::selection,
a:link::-moz-selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe;
}
// vim: set shiftwidth=4 foldmethod=indent :
