@charset "UTF-8";

/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

/* Tufte CSS styles */
html {
    font-size: 15px;
}

/* Tufte CSS styles */
body {
    font-family: $global-font-family;
	  font-variant: oldstyle-nums proportional-nums;
    background-color: $background-color;
    color: $text-color;
    counter-reset: sidenote-counter;
	  line-height: 1;
    &.wide {
        width: 87.5%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 12.5%;
        max-width: 1400px;
    }
}

.page__inner-wrap {
    h1 {
        font-weight: 400;
        margin-top: 4rem;
        margin-bottom: 1.5rem;
        font-size: 3.2rem;
        line-height: 1;
    }

    p.subtitle {
        font-style: italic;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.8rem;
        display: block;
        line-height: 1;
        em { font-style: normal; }
    }
}

.page__content {
    h2 {
        clear: both;
        font-style: italic;
        font-weight: 400;
        margin-top: 2.1rem;
        margin-bottom: 1.4rem;
        font-size: 2.2rem;
        line-height: 1;
        em { font-style: normal; }
    }

    h3 {
        font-style: italic;
        font-weight: 400;
        font-size: 1.7rem;
        margin-top: 2rem;
        margin-bottom: 1.4rem;
        line-height: 1;
        em { font-style: normal; }
        @include breakpoint($large) {
            float: left;
            margin-top: 0;
            margin-left: -200px;
            width: calc(200px - 1em);
            font-size: $type-size-4;
            line-height: 2rem;
        }
        @include breakpoint($x-large) {
            margin-left: -300px;
            width: calc(300px - 1em);
        }
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }

    .numeral {
        font-family: $serif;
        font-variant: oldstyle-nums;
    }

    .danger {
        color: red;
    }

    article {
        padding: 5rem 0rem;
    }

    section {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    p,
    dl,
    ol,
    ul {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    p {
        margin-top: 1.4rem;
        margin-bottom: 1.4rem;
        padding-right: 0;
        vertical-align: baseline;
    }

    /* Chapter Epigraphs */
    div.epigraph {
        margin: 5em 0;
    }

    .epigraph > blockquote {
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .epigraph > blockquote,
    .epigraph > blockquote > p {
        font-style: italic;
        em { font-style: normal; }
    }

    .epigraph > blockquote > footer {
        font-style: normal;
    }

    .epigraph > blockquote > footer > cite {
        font-style: italic;
    }
    /* end chapter epigraphs styles */

    blockquote {
        font-size: 1.4rem;
    }

    blockquote footer {
        font-size: 1.1rem;
        text-align: right;
    }

    /* 50 + 5 == 55, to be the same width as paragraph */
    section > dl,
    section > ol,
    section > ul {
        -webkit-padding-start: 5%;
        @include breakpoint($large) {
            padding-left: 0;
        }
    }

    dt:not(:first-child),
    li:not(:first-child) {
        margin-top: 0.25rem;
    }

    figure {
        // Figures in Minimal-mistakes are flex.
        // One should either reset them to display:block (easy fix)
        // or use margin-left: auto in its child elements.
        display: block;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        margin: 0 0 3em 0;
    }

    /******************************************************
     * CSL styling taken from Tufte-CSS, not yet
       implemented in Jekyll-Pandoc-Tufte.
     */
    div.csl-bib-body {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    div.csl-entry {
        clear: both;
        margin-top: .5rem;
    }

    .hanging div.csl-entry {
        margin-left: 2rem;
        text-indent: -2rem;
    }

    div.csl-left-margin {
        min-width: 2rem;
        float: left;
    }

    div.csl-right-inline {
        margin-left: 2rem;
        padding-left: 1rem;
    }

    div.csl-indent {
        margin-left: 2rem;
    }

    div.hanging-indent{
        margin-left: 1.5rem;
        text-indent: -1.5rem;
    }

    /* Sidenotes, margin notes, figures, captions */
    video,
    iframe,
    img {
        max-width: 100%;
    }

    span.sidenote,
    span.marginnote {
        display: none;
        @include breakpoint($large) {
            display: block;
        }
    }

    figcaption,
    .subfigures p:last-of-type,
    .align-right,
    .sidenote,
    .marginnote {
        color: $muted-text-color;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.3;
        vertical-align: baseline;
        position: relative;
        text-align: left;
        @include breakpoint($large) {
            float: right;
            clear: right;
            width: 200px;
            margin: 0.3rem -200px 0 0;
            padding-left: 1em;
        }
        @include breakpoint($x-large) {
            width: 300px;
            margin-right: -300px;
        }
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    .sidenote-number {
        counter-increment: sidenote-counter;
        font-family: $global-font-family;
        font-variant: oldstyle-nums;
        font-weight: 500;
    }

    .sidenote-number:after,
    .sidenote:before {
        font-family: $global-font-family;
        font-variant: oldstyle-nums;
        font-weight: 500;
        position: relative;
        vertical-align: baseline;
    }

    .sidenote-number:after {
        content: counter(sidenote-counter);
        font-size: 1rem;
        top: -0.5rem;
        left: 0.1rem;
    }

    .sidenote:before {
        content: counter(sidenote-counter) " ";
        font-size: 1rem;
        top: -0.5rem;
    }

    label {
        cursor: pointer;
    }

    blockquote .sidenote,
    blockquote .marginnote {
        text-align: left;
        @include breakpoint($large) {
            margin-right: calc(-200px - 2.8rem);
        }
        @include breakpoint($x-large) {
            margin-right: calc(-300px - 2.8rem);
        }
    }

    div.table-wrapper {
        overflow-x: auto;
        font-family: $sans-serif-narrow;
    }

    .sans {
        font-family: $sans-serif;
        letter-spacing: .03em;
    }

    code, pre > code {
        font-family: $monospace;
        font-size: 1.0rem;
        line-height: 1.42;
        -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
    }

    .sans > code {
        font-size: 1.2rem;
    }

    h1 > code,
    h2 > code,
    h3 > code {
        font-size: 0.80em;
    }

    .marginnote > code,
    .sidenote > code {
        font-size: 1rem;
    }

    pre > code {
        font-size: 0.9rem;
        margin-left: 2.5%;
        overflow-x: auto;
        display: block;
    }

    .full,
    .fullwidth {
        @include breakpoint($large) {
            display: block; // Prevent float overlap
            margin-right: -200px !important;
            clear:both;
        }
        @include breakpoint($x-large) {
            margin-right: -300px !important;
        }
    }
    
    img.full {
        @include breakpoint($large) {
            max-width: calc(100% + 200px);
            width: calc(100% + 200px);
        }
        @include breakpoint($x-large) {
            max-width: calc(100% + 300px);
            width: calc(100% + 300px);
        }
    }

    span.newthought {
        font-variant: small-caps;
        font-size: 1.2em;
        .smallcaps {
          text-transform: uppercase;
        }
    }

    input.margin-toggle {
        display: none;
    }

    label.sidenote-number {
        display: inline;
    }

    label.margin-toggle:not(.sidenote-number) {
        display: inline;
        @include breakpoint($large) {
            display: none;
        }
    }

    .iframe-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }

    .iframe-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// Use reduced widths only on .wide pages
.wide .page__content {
    hr,
    section > p,
    section > footer,
    section > table {
        width: 100%;
    }

    pre > code {
        width: 97%;
    }

    div.csl-bib-body,
    section > dl,
    section > ol,
    section > ul {
        width: 90%;
    }

    figure {
        max-width: 90%;
    }

    figcaption,
    div.fullwidth figcaption,
    figure.fullwidth figcaption {
        margin-right: 0%;
        max-width: none;
    }

    blockquote {
        margin-left: 1.5em;
        margin-right: 0em;
    }

    blockquote p,
    blockquote footer {
        width: 100%;
    }
    div.table-wrapper,
    table {
        width: 85%;
    }

    img {
        width: 100%;
    }

    @include breakpoint($medium) {
        hr,
        section > p,
        section > footer,
        section > table,
        section > div > table,
        blockquote p,
        blockquote footer,
        div.csl-bib-body {
            width: 55%;
        }
        section > dl,
        section > ol,
        section > ul {
            width: 50%;
        }
        figure {
            max-width: 55%;
        }
        div.fullwidth,
        table.fullwidth {
            width: 100%;
        }
        pre > code {
            width: 52.5%;
        }
        pre.fullwidth > code {
            width: 90%;
        }
        .fullwidth {
            max-width: 90%;
        }
    }
}

/* Links: replicate underline that clears descenders */
a:link,
a:visited {
    color: inherit;
}
.page__content a:hover,
a:hover {
    color: $text-color;
}

.no-tufte-underline:link {
    background: unset;
    text-shadow: unset;
}

a:link, .tufte-underline, .hover-tufte-underline:hover {
    text-decoration: none;
    background: -webkit-linear-gradient($background-color, $background-color), -webkit-linear-gradient($background-color, $background-color), -webkit-linear-gradient(currentColor, currentColor);
    background: linear-gradient($background-color, $background-color), linear-gradient($background-color, $background-color), linear-gradient(currentColor, currentColor);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 $background-color, -0.03em 0 $background-color, 0 0.03em $background-color, 0 -0.03em $background-color, 0.06em 0 $background-color, -0.06em 0 $background-color, 0.09em 0 $background-color, -0.09em 0 $background-color, 0.12em 0 $background-color, -0.12em 0 $background-color, 0.15em 0 $background-color, -0.15em 0 $background-color;
    background-position: 0% 93%, 100% 93%, 0% 93%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    a:link, .tufte-underline, .hover-tufte-underline:hover {
        background-position-y: 87%, 87%, 87%;
    }
}

a:link::selection,
a:link::-moz-selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe;
}
// vim: set shiftwidth=4 foldmethod=indent :
