@charset "UTF-8";

body {
    font-variant: oldstyle-nums proportional-nums;
    counter-reset: sidenote-counter;
}

/***************************
 * Minimal-Mistakes resets *
 ***************************/
.page__inner-wrap {
    h1 {
        font-weight: $header-font-weight;
    }
    p.subtitle {
        font-style: italic;
        display: block;
        em {
            font-style: normal;
        }
    }
}

h2 {
    clear: both;
    font-style: $header-font-style;
    font-weight: $header-font-weight;
    em {
        font-style: normal;
    }
}

h3 {
    font-style: $header-font-style;
    font-weight: 400;
    em {
        font-style: normal;
    }
}

h4 {
    font-family: $sans-serif;
    font-variant: all-small-caps;
    font-weight: $meta-font-weight;
    letter-spacing: 0.05rem;
    &.page__related-title,
    &.page__share-title {
        font-size: $h-size-5;
    }
}

.page__content {
    h3 {
        @include breakpoint($large) {
            font-size: $type-size-5;
            float: left;
            margin: 0 0 0 calc(0px - #{$right-sidebar-width-narrow});
            width: calc(#{$right-sidebar-width-narrow} - 1em);
        }
        @include breakpoint($x-large) {
            margin-left: calc(0px - #{$right-sidebar-width});
            width: calc(#{$right-sidebar-width} - 1em);
        }
    }
    h5,
    h6,
    p,
    dl,
    dt,
    dd,
    ol,
    ul {
        font-size: $type-size-5;
        line-height: 1.3;
    }
}

li ul,
li ol {
    margin: $indent-var 0;
}

ul li,
ol li,
ul li ul,
ol li ol {
    margin: 0;
}

// Good alignment of dl
div > dl {
    margin-top: 0;
    margin-bottom: 0;
}
div > dl > dt:first-child,
li > dl > dt:first-child {
    margin-top: 0;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
    -webkit-padding-start: 5%;
    @include breakpoint($large) {
        padding-left: 0;
    }
}

/*********************
 * Chapter Epigraphs *
 *********************/
div.epigraph {
    margin: 5em 0;
}

/******************************
 * CSL styling from Tufte-CSS *
 ******************************/
div.csl-bib-body {
    font-size: $type-size-5;
    line-height: 1.3;
}

div.csl-entry {
    clear: both;
    margin-top: .5rem;
}

.hanging div.csl-entry {
    margin-left: $type-size-4;
    text-indent: -2rem;
}

div.csl-left-margin {
    min-width: $type-size-4;
    float: left;
}

div.csl-right-inline {
    margin-left: $type-size-4;
    padding-left: 1rem;
}

div.csl-indent {
    margin-left: $type-size-4;
}

div.hanging-indent{
    margin-left: 1.5rem;
    text-indent: -1.5rem;
}

/**************************
 * Figures and marginalia *
 **************************/
figcaption,
.sidenote-number,
.sidenote-number:after,
.sidenote:before {
    font-weight: 500;
}

video {
    @extend img;
}

.fluid-width-video-wrapper {
    iframe {
        border-radius: 5px;
    }
    margin-bottom: 1em;
}

span.sidenote,
span.marginnote {
    display: none;
    vertical-align: baseline;
    position: relative;
}

span.sidenote,
span.marginnote,
.subfigures p:last-of-type {
    @extend figcaption;
}

.align-right,
figcaption {
    @include breakpoint($large) {
        display: block;
        float: right;
        clear: right;
        margin: 0 calc(0px - #{$right-sidebar-width-narrow}) 0.3rem auto;
        padding-left: 1rem;
        width: $right-sidebar-width-narrow;
        figcaption {
            margin: 0 0 0.3rem 0;
            padding-left: 0;
        }
    }
    @include breakpoint($x-large) {
        margin-right: calc(0px - #{$right-sidebar-width});
        width: $right-sidebar-width;
    }
}

.margin-toggle:checked + .sidenote,
.margin-toggle:checked + .marginnote {
    @extend .notice;
    display: block;
}

.sidenote-number {
    counter-increment: sidenote-counter;
    &:after {
        content: counter(sidenote-counter);
        font-size: $type-size-6;
        top: -0.5rem;
        left: 0.1rem;
    }
}

.sidenote-number:after,
.sidenote:before {
    position: relative;
    vertical-align: baseline;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    top: -0.5rem;
}

label {
    cursor: pointer;
}

blockquote .sidenote,
blockquote .marginnote {
    font-style: normal;
    @include breakpoint($large) {
        margin-right: calc(0px - #{$right-sidebar-width-narrow} - 2rem);
    }
    @include breakpoint($x-large) {
        margin-right: calc(0px - #{$right-sidebar-width} - 2rem);
    }
}

input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline;
}

label.margin-toggle:not(.sidenote-number) {
    display: inline;
    @include breakpoint($large) {
        display: none;
    }
}

/**************
 * Typography *
 **************/
span.newthought {
    font-variant: small-caps;
    font-size: $type-size-5;
    .smallcaps {
      text-transform: uppercase;
    }
}

.sans {
    font-family: $sans-serif;
    letter-spacing: .03em;
}

.initial-content ul:not(.toc__menu) {
    list-style-type: none;
    &:not(.nav__items) li {
        text-indent: calc(0px - #{$type-size-6});
        &::before {
            content: "› ";
        }
        p {
            text-indent: 0;
            &:first-child {
                display: inline;
            }
        }
    }
}

/* Typographically correct small caps. */
.smallcaps {
    font-variant: all-small-caps;
}

sup {
    font-weight: $meta-font-weight;
}

blockquote {
    border-color: $background-color;
    em {
        font-style: normal;
    }
    footer {
        font-size: $type-size-6;
        font-weight: 500;
    }
}

// A class to get outset dates in a résumé or CV
.cv {
    dt {
        font-variant: tabular-nums oldstyle-nums all-small-caps;
        font-weight: 400;
        margin-left: -6rem;
        margin-top: 0;
    }
    dd {
        margin-left: 0;
    }
}

// A table with a totals line
table.total {
    font-variant: tabular-nums oldstyle-nums;
    tbody tr:last-of-type td {
        border-top: 1px solid $text-color;
    }
}

/********************
 * Widths of things *
 ********************/
div.table-wrapper {
    overflow-x: auto;
}

.full {
    clear: both;
    @include breakpoint($large) {
        display: block; // Prevent float overlap
        clear:both;
        margin-right: calc(0px - #{$right-sidebar-width-narrow}) !important;
        max-width: calc(100% + #{$right-sidebar-width-narrow});
        width: calc(100% + #{$right-sidebar-width-narrow});
        &.subfigures p:last-of-type,
        figcaption {
            margin-right: 0;
        }
    }
    @include breakpoint($x-large) {
        margin-right: calc(0px - #{$right-sidebar-width}) !important;
        max-width: calc(100% + #{$right-sidebar-width});
        width: calc(100% + #{$right-sidebar-width});
    }
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.fluid-width-video-wrapper {
    float: left; // Allow caption to align to top of iframe container
}

.layout--splash,
.wide {
    figcaption,
    .align-right {
        @include breakpoint($large) {
            margin-right: 0;
        }
        @include breakpoint($x-large) {
            margin-right: 0;
        }
    }
}

/*******************************
 * Horizontal scrolling frames *
 *******************************
 *
 * How-to: (the full class is optional but makes sense here)
 * <div id="#fig:name" class="full">
 *   <div class="h-scroll">
 *     <img src="https://example.com/image.jpg">
 *   </div>
 * </div>
 *******************************/
.h-scroll {
    overflow: auto;
    overflow-y: hidden;
    overflow-x: auto;
    height: auto;
    img {
        max-width: none;
        height: 720px;
        max-height: 90vh;
    }
}

/*****************************************************
 * Links: replicate underline that clears descenders *
 *****************************************************/
// Prevent Minimal-Mistakes from doing its thing and
// interfering with the Tufte decoration.
a:hover {
    text-decoration: none !important;
}

a:link,
a:visited {
    color: inherit;
}

.no-tufte-underline:link {
    background: unset;
    text-shadow: unset;
}

.page__hero--overlay a:link:not(.btn),
.page__content a:link:not(.btn),
.archive a:link:not(.btn),
.page__related a:link:not(.btn),
.page__footer-copyright a:link:not(.btn),
.tufte-underline,
.hover-tufte-underline:hover {
    text-decoration: none;
    background: -webkit-linear-gradient($background-color, $background-color), -webkit-linear-gradient($background-color, $background-color), -webkit-linear-gradient(currentColor, currentColor);
    background: linear-gradient($background-color, $background-color), linear-gradient($background-color, $background-color), linear-gradient(currentColor, currentColor);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 $background-color, -0.03em 0 $background-color, 0 0.03em $background-color, 0 -0.03em $background-color, 0.06em 0 $background-color, -0.06em 0 $background-color, 0.09em 0 $background-color, -0.09em 0 $background-color, 0.12em 0 $background-color, -0.12em 0 $background-color, 0.15em 0 $background-color, -0.15em 0 $background-color;
    background-position: 0% 93%, 100% 93%, 0% 93%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .page__content a:link:not(.btn),
    .archive a:link:not(.btn),
    .tufte-underline,
    .hover-tufte-underline:hover {
        background-position-y: 87%, 87%, 87%;
    }
}

a:link::selection,
a:link::-moz-selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe;
}

/***********************
 * Buttons and borders *
 ***********************/
a.btn {
    font-weight: $meta-font-weight;
    letter-spacing: 0.05rem;
}

.btn--inverse,
img,
video,
iframe,
.author__avatar img {
    border: 0.5px solid $primary-color;
    background-color: $background-color;
}
// vim: set shiftwidth=4 foldmethod=indent :
