---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import url("https://use.typekit.net/hny1sfi.css");
@import url("https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css");

/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

/* system typefaces */
$sans-serif: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$monospace: Consolas, "Liberation Mono", Menlo, Courier, monospace;

/* serif typefaces */
$garamond: "eb-garamond", "et-book", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

$global-font-family: $garamond;
$header-font-family: $garamond;
$caption-font-family: $garamond;
$sans-serif: $garamond;
$sans-serif-narrow: $garamond;

/*
   Colors
   ========================================================================== */

$background-color: #fffff8;
$lighter-gray: #b4d5fe;
$dark-gray: #111;
$gray: $dark-gray;

$border-color: $background-color;

$footer-background-color: $background-color;

$muted-text-color: $dark-gray;

/*
   Other
   ========================================================================== */

$border-radius: 0;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import
  "tufte",
  "tufte-extra",
  "pandoc",
  "pandoc-solarized",
  "local",
	"revealjs-support"
;

$heading-font-weight: 300;

/*******************************************
 * Masthead, site title and navigation links
 *******************************************/
.masthead {
	display: none;
}

a.site-title,
ul.visible-links a {
	background: none !important;
}

a.site-title {
	font-size: $h-size-1;
	font-variant: all-small-caps;
	font-weight: $heading-font-weight;
	.site-subtitle {
		font-size: $h-size-6;
		font-variant: normal oldstyle-nums;
	}
}

// Smaller Masthead links
ul.visible-links {
	font-size: $h-size-4;
}

// Fix FontAwesome icons
.fas,
.fab,
.fa {
	font-family: "Font Awesome 5 Free" !important;
}

/******************
 * Header overlay *
 ******************/
.page__hero--overlay {
	font-size: $type-size-4;
	padding: 5rem 0;
	&,
	& .page__title,
	& .page__meta,
	& a {
		color: $background-color;
		text-shadow: 0.03em 0 4px rgba($text-color, 0.2), -0.03em 0 4px rgba($text-color, 0.2), 0 0.03em 4px rgba($text-color, 0.2), 0 -0.03em 4px rgba($text-color, 0.2), 0.06em 0 6px rgba($text-color, 0.2), -0.06em 0 6px rgba($text-color, 0.2), 0.09em 0 4px rgba($text-color, 0.2), -0.09em 0 4px rgba($text-color, 0.2), 0.12em 0 9px rgba($text-color, 0.2), -0.12em 0 9px rgba($text-color, 0.2), 0.15em 0 12px rgba($text-color, 0.2), -0.15em 0 12px rgba($text-color, 0.2);
	}

	h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
		font-weight: $heading-font-weight;
	}

	span.subtitle {
		font-style: italic;
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-size: 1.8rem;
		display: block;
		line-height: 1;
		em { font-style: normal; }
	}

	blockquote {
		font-style: italic;
		padding: 0;
	}

	.page__hero-caption {
		font-size: $type-size-6;
		font-weight: 500;
	}

	a.btn,
	blockquote,
	blockquote a,
	.page__hero-caption a {
		text-shadow: 0.03em 0 1px rgba($text-color, 0.5), -0.03em 0 1px rgba($text-color, 0.5), 0 0.03em 1px rgba($text-color, 0.5), 0 -0.03em 1px rgba($text-color, 0.5), 0.06em 0 2px rgba($text-color, 0.3), -0.06em 0 2px rgba($text-color, 0.3), 0.09em 0 3px rgba($text-color, 0.3), -0.09em 0 3px rgba($text-color, 0.3), 0.12em 0 4px rgba($text-color, 0.3), -0.12em 0 4px rgba($text-color, 0.3), 0.15em 0 5px rgba($text-color, 0.3), -0.15em 0 5px rgba($text-color, 0.3);
	}

	blockquote a,
	.page__hero-caption a {
		background: -webkit-linear-gradient($text-color, $text-color), -webkit-linear-gradient($text-color, $text-color), -webkit-linear-gradient(lighten($background-color, 10%), lighten($background-color, 10%));
		background: linear-gradient($text-color, $text-color), linear-gradient($text-color, $text-color), linear-gradient(lighten($background-color, 10%), lighten($background-color, 10%));
		-webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
		-moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
		background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
		background-repeat: no-repeat, no-repeat, repeat-x;
		background-position: 0% 93%, 100% 93%, 0% 93%; 
	}

	a.btn {
		background: transparentize($text-color, 0.7);
    box-shadow: 2px 2px 4px 4px transparentize($text-color, 0.5) inset;
		color: $background-color;
		font-size: $type-size-5;
		font-variant: all-small-caps;
		font-weight: 500;
    letter-spacing: 0.1rem;
	}
}

// Resets minimal-mistakes/_base.scss
ul li,
ol li {
  margin-bottom: 0;
}

blockquote {
	border: none;
	font-style: normal;
}

// Fix link underlines
a:hover {
	text-decoration: none !important;
}

a.pagination--pager {
	@extend .tufte-underline;
	border: none;
	font-weight: 500;
	text-shadow: none;
	&:hover {
		@extend .hover-tufte-underline;
		color: $text-color;
		background: $background-color;
	}
}

.page__footer-follow {
	display: none;
}

.page__footer-copyright {
	font-size: $type-size-5;
}

/******************
 * Helper classes *
 ******************/

// Style a figure reference generated by Pandoc-crossref.
.figref {
  font-weight: 700;
  &::before {
    content: "[";
  }
  &::after {
    content: "]";
  }
  @include breakpoint($large) {
    float: left;
    clear: left;
    margin-left: -15%;
    width: 10%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 2rem;
    text-align: right;
    vertical-align: baseline;
    &::before,
    &::after {
      content: "";
    }
  }
}

// vim: set shiftwidth=2 tabstop=2 foldmethod=indent :
